html {
  font-size: var(--base-font-size);
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.45;
}

p {
	margin-bottom: 1.25em;
}

h1, h2, h3, h4, h5 {
  transition: color .6s;
  color: var(--title-color);
  margin: 2.75rem 0 1rem;
  font-weight: 600;
  line-height: 1.15;
}


h1 {
  margin-top: 0;
  font-size: 2em;
}

h2 {font-size: 1.602em;}

h1, h2, h3 {
  font-family: 'Walter Turncoat', sans-serif;
}

h3 {font-size: 1.424em;}

h4 {font-size: 1.266em;}

h5 {font-size: 1.125em;}

small {font-size: 0.889em;}

strong {
  font-weight: 600;
}

blockquote {
  border-left: 4px solid var(--border-color);
  padding-left: calc(var(--space) / 2);
  color: var(--title-color);
}

em {
  font-style: italic;
}

ul {
  list-style-type: disc;
  margin-left: 1.25em;
  margin-bottom: 1.25em;
  li {
    margin-bottom: .6em;
  }
}
ol {
  list-style-type: decimal;
  margin-left: 1.25em;
  margin-bottom: 1.25em;
  li {
    margin-bottom: .6em;
  }
}

.checkbox-list {
  ul {
    list-style: none;
    margin-left: 0;
  }
}

// Checkbox styles are simplified version of Stephanie Eckles' https://moderncss.dev/pure-css-custom-checkbox-style/
input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--bg-color);
  /* Not removed via appearance */
  margin: 0 0.3em 0 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  padding-top: 0.1em;
  padding-left: 0.1em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  display: inline-flex;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  box-shadow: inset 1em 1em currentColor;
}
