// Default variables
html {
	--base-font-size: 20px;
}

// Light default theme
body {
	--bg-color: #aeccd6;
	--bg-content-color: #d9e5e6;
	--bg-code: #fffbf3;
	--body-color: #353d57;
	--title-color: #353d57;
	--accent-color: #922c29;
	--link-color: #922c29;
	--border-color:  rgba(0,0,0,.1);
	--code-color: #9F2B68;
	--space: 2.5rem;
	--content-width: 860px;
	--header-height: 80px;
	--radius: 5px;
}

// Make  things smaller for mobile
@media screen and (max-width: 650px) {
	html {
		--base-font-size: 17px;
	}
	body {
		--space: 1.5rem;
		--header-height: 60px;
	}
}

// Override variables for Dark theme
body[data-theme="dark"] {
 	--bg-color: #4d6f95;
 	--bg-content-color: #353d57;
 	--bg-code: rgba(0,0,0,.3);
 	--border-color:  rgba(255,255,255,.1);
	--code-color: #89CFEF; // TODO play with <code> colors, I don't like them
 	--body-color: #d9e5e6;
 	--title-color: #d9e5e6;
	--accent-color: #eec7c6;
 	--link-color: #eec7c6;
}